* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  height: 100vh;
  background-color: #f3f3f3;
  align-items: center;
  justify-content: center
}
.container {
  box-shadow: 0 0 12px #87bf72;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
  height: 700px;
  background-color: #C2FFC7;
  border: 2px solid #526E48;
  border-radius: 10px;
}
.cinema {
  text-align: center;
}
.tk, h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
div a {
  display: flex;
  justify-content: center;
}